body{
    margin: 0;
}
.header {
    background-color: rgb(20, 19, 55);
    display: flex;
}
.header a{
    margin-left: 2px;
    list-style-type: none;    
    text-decoration: none;
    color: white;
}


.image-container{
    text-align: center;
margin-top: 20px;
background-image: url("/AITfolder/img/header.jpg");
    background-repeat:no-repeat;
    background-position: 50%;
    height: 100vh;
    display: flex;
    

} 
/*.image-container h1 {

margin-top: 50%;
} */

img{
    height: 20px;
        max-width:50px;
    height: auto;
}

nav{
     background-color: white;
     display: flex;
     justify-content: space-between;
     height: 50px;

}

    .logo {
        color: rgb(102, 102, 248);
        font: bolder;
        text-transform: uppercase;
        margin-left: 5%;
        margin-top: 10px;
        
    }


/*style for navigation list*/
ul {
   list-style-type: none;
    margin: 0;
    padding: 0;
    padding-left: 50%;
    display: flex;
}


/*style for navigation items*/
li {
      margin-right: 10px;
    }

/*style for navigation links*/
 a{ 
    text-decoration: none;
    color:black;
    padding: 10px;
}

   

/* Hover effect for navigation links */
 a:hover 
    {
        background-color: #555;
    }